<ng-template #rt let-r="result" let-t="term">
  <resi-search-item [item]="r" [domain]="urlRoot"></resi-search-item>
</ng-template>
<div class="input-group typeahead">
  <input 
        id="typeahead-basic" 
        type="text" 
        class="form-control" 
        (blur)="overlay.show(false)"
        (focus)="overlay.show(true)"
        placeholder="Rechercher dans l'encyclopédie"
        [focusFirst]="false"
        [(ngModel)]="query" 
        [ngbTypeahead]="initSearch"
        [resultTemplate]="rt"
        [inputFormatter]="queryFormatter" />
  <span class="input-group-addon" [hidden]="searching"><i class="fa fa-search" aria-hidden="true"></i></span>
  <span class="input-group-addon loading" [hidden]="!searching"></span>
</div>
<div>
  <div style="position: relative;">
      <div [hidden]="!overlay.visible" class="results-overlay"></div>
      
      <div class="top-results" *ngIf="results.length">{{results.length}} résultats pour la recherche <strong>"{{queryFormatter(query)}}"</strong></div>

      <div class="result" *ngFor="let result of results">
        <div>
            <i class="fa" [ngClass]="getClassFromType(result.type)" aria-hidden="true"></i>            
            <a href="{{urlRoot}}/{{result.url}}">{{result.title}}</a> 
        </div>     
        
        <div>{{result.description}}</div>
      </div>
  </div>
</div>
